In [100]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [101]:
df = pd.read_csv('hiring_multivariate_regr.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [102]:
df['test_score(out of 10)'].fillna(round(df['test_score(out of 10)'].mean()), inplace=True)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [103]:
from word2number import w2n
df['experience'].fillna('zero', inplace=True)
df['experience'] = df['experience'].apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [104]:
train_x = np.array(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']])
train_y = np.array(df['salary($)'])

In [105]:
regr = linear_model.LinearRegression()

In [106]:
regr.fit(train_x, train_y)

LinearRegression()

In [107]:
regr.predict([[2, 9, 6], [12, 10, 10]])

array([53205.96797671, 92002.18340611])